/* Index*/

h1 {
    text-align: center;
}

ul {
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 450px;
}

/* image 1*/
.container {
    background-color: aqua;
    padding: 12px;
    border: 4px solid blue;
    display: flex;
}

.item {
    background-color: peachpuff;
    border: 4px solid salmon;
    flex: 1;
    margin: 4px;
    padding: 15px;
    display: flex;
}

/* image 2*/

.item-child {
    background-color: peachpuff;
    border: 4px solid salmon;
    flex: 1;
}

.item-short {
    background-color: peachpuff;
    border: 4px solid salmon;
    flex: 1;
    margin: 4px;
    padding: 4px;
    display: flex;
}

#child1 {
    padding: 20px;
}

#child2 {
    padding: 20px;
}


/* image 3*/

.container3-main {
    background-color: rgb(198, 255, 160);
    border: 5px solid green;
    height: 100%;
    margin: 0;
    padding: 20px 10px;
}

.item-child3 {
    background-color: rgba(255, 155, 155, 0.795);
    border: 4px solid rgb(253, 30, 6);
    
    flex: 1;
}

.container3-1 {
    margin-top: 10px;
    background-color: rgba(123, 185, 255, 0.801);
    padding: 20px;
    border: 4px solid blue;
    display: flex;
}

.container3-2 {
    display: flex;
    padding: 30px 0px;
}

.sub-container2 {
    width: 50vw;
    margin: 4px 0px 4px 4px;
}

.item3-2 {
    background-color: rgba(255, 155, 155, 0.795);
    border: 4px solid rgb(175, 20, 3);
    height: 48px;
    padding: 20px;
    flex: 1;
    display: flex;
}

#big-box {
    height: inherit;
    margin: 4px 4px 4px 0px;
}

#minimun-box {
    margin-bottom: 6px;
}

#minimun-box2 {
    margin-top: 6px;
}


#child {
    margin: 4px 4px 4px 4px;    
}

.container3-3 {
    background-color: rgba(123, 185, 255, 0.801);
    padding: 15px;
    border: 4px solid blue;
    display: flex;
}

.container-invisible {
    height: inherit;
    flex: 1;
    display: flex;
}

.item3-1 {
    background-color: rgba(231, 236, 253, 0.575);
    border: 4px solid rgb(115, 115, 255);
    height: 48px;
    flex: 1;
    padding: 15px 0px;
    margin: 4px;
    display: flex;
}